<div id="footer" class="footer push">

      <div class="row">
        <div class="col-md-1"></div>
      </div>
      <div class="col-xs-12 col-md-8">
        <p>Shop application example developed by Alexandru Ionut Grama, 2015</p>
        <p>App revision at <strong> <%=ETSShop::REVISION%></strong></p>
      </div>

      <div class="col-xs-6 col-md-4">
    <a href="https://es.linkedin.com/in/aigrama"><i class="fa fa-linkedin fa-2x"></i></a>
    <a href="https://github.com/aigrama"><i class="fa fa-github fa-2x"></i></a>
        </div>

</div>

